/* Monster made using PFSB. Find it at https://github.com/frozenMustelid/pfsb
 * 
 * CSS Stylesheet version 0.3-dev-2018-02-19.                                                */

p {
	font-family:sans-serif;
}

ul {
	list-style-type:none;
	font-family:sans-serif;
	font-style:italic;
}


.dc {
	font-style:normal;
}

.headericon {
	float:right;
	float:center;
}

.itemheader {
	font-weight:bold;
}

.none {
	font-weight:bold;
}

.sectionheader {
	font-family:sans-serif;
	border-top-style:solid;
	border-top-width:thin;
	border-bottom-style:solid;
	border-bottom-width:thin;
}


#monname {
	font-size:xx-large;
}

#mondesc {
	font-family:serif;
	font-style:italic;
}

#monheader {
	color:white;
	background:black;
	text-align:left;
}

#cr {
	float:right;
}

#xp {
	font-weight:bold;
}
