/* Monster made using PFSB. Find it at https://github.com/frozenMustelid/pfsb
 * 
 * CSS Stylesheet version 0.2.                                                */

p {
	font-family:sans-serif;
}

.headericon {
	float:right;
}

.itemheader {
	font-weight:bold;
}

.sectionheader {
	font-family:sans-serif;
	border-top-style:solid;
	border-top-width:thin;
	border-bottom-style:solid;
	border-bottom-width:thin;
}

#monheader {
	color:white;
	background:black;
	text-align:left;
}

#cr {
	float:right;
}

#xp {
	font-weight:bold;
}
